h2 {
  font-family: "Cutive Mono", monospace;
  color: #58585a;
}

ul {
  font-family: "Cutive Mono", monospace;
  color: #58585a;
  display: inline-block;
}

hr {
  display: block;
  border-top: 1px solid #58585a;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
 .btn-light {
   font-family: "Cutive Mono", monospace;
   color: white;
   background-color: black;
   border-width: thin;
   border-radius: 15px;
 }


.card-group {
  margin-left: 1em;
  margin-right: 1em;
}

.mockup-2 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-2 {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 20em;
}

p {
  font-family: "Cutive Mono", monospace;
  color: #58585a;
}

.icons {
   display: inline;
 }

.icons-box{
  padding-left: 4.3em;
}

.copyright {
  padding-left: 4.3em;
}

.a-top {
 font-family: "Cutive Mono", monospace;
 text-align: center;
 color: #58585a;
 text-decoration: none;
}

.logo {
  text-decoration: none;
}

.a-logo {
  color: #58585a;
  text-decoration: none
}

.a-section {
  color: #58585a;
  text-decoration: none
}

.projects {
  color: #f7f7f7;
  font-family: "Cutive Mono", monospace;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
}

.icons a {
   text-decoration: none;
 }

.project-title {
  color: #f7f7f7;
}

.preview-overlay {
  background-color: rgba(12, 12, 12, 0);
  transition: background-color .25s;
}

.card-group a:hover .preview-overlay, .card-group a:focus .preview-overlay {
  background-color: rgba(12, 12, 12, .75);
}

.projects {
  color: rgba(0, 0, 0, 0);
  transition: background-color .25s;
}

.card-group a:hover .projects, .card-group a:focus .projects {
  color: rgba(225, 225, 225, 1);
}

.hand {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 38em) {
  .card-2{
    min-height: 0;
  }

  .copyright {
    padding-left: 0;
    padding-right: 4.3em;
    text-align: right;
  }

  .card-group {
    margin-left: 4.3em;
    margin-right: 4.3em;
  }
  
  hr {
    margin-left: 4.3em;
    margin-right: 4.3em;
  }
}
